.Contato {

	.arabesco {
		margin: 60px 0 150px;
		background-repeat: no-repeat;

		.Row {

			.texto {

				p {
				    font-size: 23px;
				}
			}

			.fale_forms {
				input {
					border: none;
					border-radius: 0;
					border-bottom: 2px solid #b49a5f;
				}
			}
		}
	}
}