.Footer {
	
	.container {
		display: block;
		padding: 50px 0 90px;

		.logo {
			display: inline-block;
			vertical-align: top;
		}

		.infos-footer {
			display: inline-block;
			vertical-align: top;
			margin-left: 360px;

			.nome {
				margin-bottom: 40px;
			}

			a {
				text-decoration: none;
			}

			p {
				margin-bottom: 0;
				color: #5d4438;
				font-size: 17px;
			}
		}

		.icone-kife {
			position: absolute;
			right: 0;
			top: 50px;
			transition: 400ms;

			&:hover {
				transform: rotate(180deg);
			}
		}
	}

	&:before {
		content: '';
		display: block;
		position: relative;
		width: 100%;
		height: 110px;
		background-color: #5d4438;
	}
}

@include breakpoint(0, $lg) {
	.Footer {
		.container {
			.infos-footer {
				margin-left: 200px;
			}
		}
	}
}

@include breakpoint(0, $md) {
	.Footer {
		.container {
			.infos-footer {
				margin-left: 120px;
			}
		}
	}
}

@include breakpoint(0, $sm) {
	.Footer {
		.container {
			padding: 50px 0;

			.infos-footer {
				display: block;
				margin: 30px 0 0;
			}
		}
	}
}