.Landing_page {
	.formulario {
		.titulo {
			position: relative;
			padding: 40px 70px;
			margin-bottom: 0;
			background-color: $color-button-primary;
			color: #fff;
			text-align: center;
			z-index: 1;

			&:after {
				content: '';
				position: absolute;
				left: calc(50% - 50px);
				bottom: -55px;
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 55px 50px 0 50px;
				border-color: $color-button-primary transparent transparent transparent;
			}

			@include breakpoint(0, $md) {
				padding: 20px;

				&:after {
					left: calc(50% - 40px);
					bottom: -46px;
					border-width: 46px 40px 0 40px;
				}
			}
		}

		.info {
			background-color: #eee;
			padding: 100px 50px 40px;

			@include breakpoint(0, $md) {
				padding: 60px 20px 20px;
			}

			.download {
				font-size: 30px;
				text-align: center;

				a {
					color: $color-button-primary;
					font-weight: bold;
					text-decoration: none;
				}

				i {
					display: block;
					margin: 0 auto;
				}
			}
		}

		.Form {
			label {
				display: none;
			}
		}

		.Form._success,
		.Message {
			display: none;
		}
	}

	.video_embed {
		position: relative;
		width: 100%;

		&:after {
			content: '';
			display: block;
			width: 100%;
			padding-top: 56.2%;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
