.Promocoes {
	margin-top: 80px;

	.imagens {
		margin-top: -60px;
		font-size: 0;
		z-index: 1;

		.imagem {
			display: inline-block;
			height: auto;
			padding-top: 33%;
			background-size: cover;
			background-position: center;
			transition: 400ms;
		}
	}

	.Row {
		z-index: 2;

		._col-7 {
			img {
				margin-left: auto;
				width: 980px;
			}
		}

		._col-5 {
			margin: -70px 0 52px;
			padding-right: 40px;
			height: 100%;
			font-size: 25px;
			text-align: justify;
	   		text-align-last: left;
			line-height: 29px;
		}
	}

	.Row {
		.texto {
			margin-top: 50px;

			p {
			    padding: 0px 286px;
				text-align: center;
			}
		}

		.dog-menu {
			margin-top: -40px;
		}
	}


	.participe { 
		margin-top: 120px;
		margin-bottom: 110px;

		.promo {
			padding: 15px;
			width: 460px;
			height: 105px;
			line-height: 75px;
		    font-size: 42px;
		    text-transform: uppercase;
		}

		.redes-sociais {
			display: inline-block;
			vertical-align: middle;

			li {
				display: inline-block;

				&:first-child {
					margin-right: 40px; 
				}

				a {
					display: inline-block;
					position: relative;
					margin-top: 40px;
					width: 23px;
					height: 23px;
					color: #5d4438;
					background-color: #fff;
					border-radius: 50%;
					font-size: 52px;
					list-style: none;

					i {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
	}
	
	@include breakpoint(0, $sm) {
		margin-top: 50px;
		
		.Row {
			._col-7 {
				img {
					margin-top: 0;
					margin-bottom: 0;
				}
			}

			._col-5 {
				padding: 40px;
			}
		}

		.imagens {
			.Row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}

			.imagem {
				padding-top: 50%;
				
				&.col {
					margin: 0;
				}

				&._col-4 {
					width: 50%;
				}
			}
		}

		.participe .promo {
			width: 280px;
		}
	}
	
	@include breakpoint(0, $xs) {
		.Row {

			&.top {
				margin: 0 auto;
				width: 90%;
			}

			._col-7 {
				img {
					margin-bottom: 0;
				}
			}

			._col-5 {
				margin: 0;
				padding: 0;
				font-size: 20px;
			}
		}

		.imagens {
			margin-top: 0;

			.imagem {
				._col-4 {
					width: 50%;
				}
			}
		}

		.participe {
			margin-bottom: 0;

			.promo {
				padding: 0;
				width: 100%;
				height: 75px;
				line-height: 75px;
				font-size: 30px;
			}

			.redes-sociais {
				margin-left: 0;
			}
		}
	}
}