.Sobre {
	.textos {
		margin-top: 60px;
		height: 100%;

		h1 {
			width: 700px;
			max-width: 100%;
			font-weight: normal;
		}

		p {
			margin-bottom: 250px;
			width: 590px;
			max-width: 100%;
			font-size: 22px;
			line-height: 29px;
		}
	}

	img {
		position: absolute;
		top: 0;
		top: -190px;
		right: -190px;
		z-index: 2;
	}

	.banner-dog {
		height: 540px;
	    margin-top: -80px;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		transition: 500ms;

		h1 {
			margin: -100px 0 0 70px;
			width: 600px;
			color: #fff;
			font-weight: 500;
		}

		&:before {
			content: '';
			display: block;
			position: relative;
			top: -80px;
			width: 366px;
			height: 308px;
			background-image: url(../images/apples.png);
			background-repeat: no-repeat;
			background-size: contain;
		}

		&:hover {
			background-size: 115%;
		}
	}

	.texto {
		margin: 145px 0 80px;

		p {
		    padding: 0px 286px;
		    font-weight: 500;
			text-align: center;
		}
	}

	.dog-menu {
		margin-top: -40px;
	}
}
@include breakpoint(0, 1555px) {

	.Sobre {
		
		.textos {
			img {
				width: 65%;
				top: -90px;
			}
		}

		.texto {
			margin: 0 0 80px;

			p {
				font-size: 25px;
			    padding: 0px 286px;
			    font-weight: 500;
				text-align: center;
			}
		}
	}
}

@include breakpoint(0, $lg) {

	.Sobre {

		.textos {
			img {
				width: 65%;
				top: 60px;
			}
		}

		.banner-dog {
			margin-top: -210px;

			h1 {
				margin: -80px 0 0 70px;
			    width: 400px;
			    font-size: 40px;
			}

			&:before {
				top: 30px;
				left: 60px;
				width: 195px;
			}
		}

	}
}

@include breakpoint(0, $md) {

	.Sobre {

		.textos {
			text-align: center;

			h1 {
				width: 100%;
			}

			p {
				margin-left: 0;
				width: 100%;
			}

			img {
				display: none;
			}
		}

		.banner-dog {
			margin-top: -230px;

			h1 {
			    width: 360px;
			    font-size: 30px;
			}

			&:before {
				top: 50px;
				left: 70px;
			}
		}

		.texto {
			p {
				padding: 0 36px;
			}
		}

	}
}

@include breakpoint(0, $sm) {

	.Sobre {
		.textos {

			h1 {
				font-size: 35px;
				text-align: left;
			}

			p {
				margin-left: 0;
				font-size: 18px;
				text-align: justify;
				text-align-last: center;
			}
		}

		.banner-dog {
		    margin-top: -360px;

			h1 {
			    width: 280px;
			    font-size: 25px;
			}

			&:before {
				top: 140px;
			    left: 20%;
			    width: 135px;
			    transform: translateX(-50%);
			}
		}

		.texto {
			p {
				margin: -110px 0;
			    padding: 0 0 50px 0;
				font-size: 18px;
				text-align: justify;
			}
		}
	}
}

@include breakpoint(0, $xs) {
	.Sobre {
		.banner-dog {
			h1 {
				margin: -80px 0 0;
			}
		}

		.texto {
			p {
				padding: 0 0 50px 0;
			}
		}
	}
}