.Tabela {

	.topo {

		h2 {
			margin: 80px 0 0 90px;
			font-size: 82px;
			font-weight: 500;
			text-transform: uppercase;
		}

		.texto {
			font-size: 25px;
		    color: #5d4438;
		}

		p {
			margin: 40px 0 0 90px;
		}
	}


	.Row { 
		margin: 145px 0 0 90px;

		.tabela {
			color: #5d4438;

			.composicao {
				width: 430px;
				font-size: 14px;
				text-align: justify;
			}

			.avisos {
				width: 430px;
				font-size: 14px;
				text-align: justify;
				text-transform: uppercase;
			}

			.imagem_produto {
				margin-top: 140px;
			}
		}

		.col {
			&._button {
				order: 2;
			}
		}
	}
}

@include breakpoint(0, 1555px) {

	.Tabela {

		.Row {
			margin: 145px 0 0 0;

			.tabela { 
				.composicao, .avisos, .Table {
					width: 100%;
				}
			 }
		}
	}
}

@include breakpoint(0, $lg) {
	.Tabela {
		.Table {
			font-size: 10px;
			
			&._bordered td:last-child, 
			&._bordered th:last-child, 
			&._striped td:last-child, 
			&._striped th:last-child {
				padding-right: 5px;
			}
		}
	}
}

@include breakpoint(0, $md) {

	.Tabela {
		
		.topo {
			h2 {
				margin: 120px 0 0 0;
				font-size: 50px;
			}

			.texto {
				display: block;
				font-size: 18px;
			}

			p {
				margin: 40px 0 0 0;
				font-size: 25px;
				text-align: center;
			}

			._produtos {
				top: -85px;
				width: 170px;
			}
		}

		.Row {
			margin: 40px 0 0;

			.col {
				width: 100%;

				&._last {
					order: 0;
					margin-bottom: 20px;
					text-align: center;

					img {
						display: inline-block;
					}
				}
			}
		}
	}
}

@include breakpoint(0, $xs) {
	.Tabela {
		.container {
			margin-left: auto;
		}
	}
}