.Video {
	.embed {
		margin: 200px 0;
		padding-top: 56.2%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		    height: 100%;
		}

		@include breakpoint(0, $md) {
			margin: 50px 0;
		}
	}
}