// Headings sizes
$font-size-h1:     53px;
$font-size-h2:     36px;
$font-size-h3:     24px;
$font-size-h4:     21px;
$font-size-h5:     18px;
$font-size-h6:     16px;

// Texts
$color-text:                  #b49a5f;
$color-headings:              #5d4438;

$font-size:        30px;

$font-family: 	'Hero';
