// GERAL
.container {
	position: relative;
	width: 1555px;
	margin: 0 auto;

	@include breakpoint(0, 1555px) {
		width: 1200px;
	}

	@include breakpoint(0, $lg) {
		width: 992px;
	}

	@include breakpoint(0, $md) {
		width: 768px;
	}

	@include breakpoint(0, $sm) {
		width: 90%;
	}
}

._pt75 {padding-top: 75px !important;}

.Button {
    min-width: 225px;
    height: 52px;
    line-height: 52px;
    font-size: 20px;
    font-weight: normal;
	border-radius: 16px;
	background-color: #cd8435;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
   	transition: all 0.5s ease;

	&:hover {
		color: #5d4438;
		border: 1px solid #5d4438;
		background-color: transparent;
		background-image: url(../images/dots.png);
		background-repeat: no-repeat;
		background-position: right 0.3rem center;
	}

	&._produtos {
		position: absolute;
		right: 0;
		top: 120px;
		width: 305px;
		
		&:hover {
			background-position: right 0.5rem center;
		}
	}

	&._tabela {
		display: block;
		margin: 0 auto;
		width: 305px;
		
		&:hover {
			background-position: right 0.3rem center;
		}
	}

	&._tabelas {
		position: absolute;
		right: 0;
		top: 120px;
		width: 305px;
		
		&:hover {
			background-position: right 0.3rem center;
		}
	}
}

body {
	padding-top: 135px;

	&._toggled {
		//height: 100vh;
		overflow: hidden;

		.Header {
			.menu {
				height: 100vh;

				.links, .redes-sociais {
					display: block;
				}
			}
		}
	}

	@include breakpoint(0, $lg) {
		padding-top: 79px;
	}
}

._padded {
	margin-top: -110px;
	padding-left: 435px;

	@include breakpoint(0, 1555px) {
		margin-top: -100px;
		padding-left: 340px;
	}

	@include breakpoint(0, $lg) {
		margin-top: 0;
		padding-left: 180px;
	}

	@include breakpoint(0, $md) {
		margin-top: 20px;
		padding-left: 0;
	}
}

.newsletter {
	.forms {
		p {
			margin: 10px 0 45px;
		    color: #5d4438;
		    font-weight: 500;
		    line-height: 30px;
		}
	}

	@include breakpoint(0, 1555px) {
		.forms {
			.Button {
				min-width: 185px;
			}
		}
	}

	@include breakpoint(0, $lg) {
		.forms {
			.Button {
				min-width: 155px;
			}
		}
	}

	@include breakpoint(0, $md) {
		.Row {
			._col-8 {
				width: 100%;
			}

			.col {
				margin-left: 0;
				width: 100%;
			}

			&._gutters {
				margin-left: 0;
			}
		}

		.forms {
			.Button {
				width: 100%;
			}
		}
	}
}

.Table {
	font-size: 11px;
	text-align: center;
	color: #5d4438;

	td {
		padding: 0;
		border-bottom: 0;
	}

	&._bordered {

		td {
			border: 1px solid #5d4438;

			&:first-child {
				padding-left: 3px;
			}
		}
	}

	thead {

		th {

			&._titulo-tabela {
				border: 1px solid #5d4438;
				padding: 0;
				border-bottom: 0;
				text-align: center;
			}
		}
	}
}

.grecaptcha-badge {
	display: none;
}

@include breakpoint(0, $lg) {

	.Table {
		width: 100%;
	}
}

@include breakpoint(0, $md) {
	
	._pt75{padding-top: 0 !important;}

	.Button {
		&._produtos {
			font-size: 14px;
		}
	}

	body, html {
		font-size: 20px;
	}

	h1,._h1 {font-size: 40px;}
	h2,._h2 {font-size: 30px;}
	h3,._h3 {font-size: 20px;}
	h4,._h4 {font-size: 18px;}
	h5,._h5 {font-size: 16px;}
	h6,._h6 {font-size: 14px;}

	h1, h2, h3, h4, h5, h6, p {
		margin-bottom: 25px;
	}
}

@include breakpoint(0, $sm) {

	.Button {
		&._tabela {
			margin: 0;
		    width: 100%;
		}
	}
	body, html {
		font-size: 18px;
	}

	h1,._h1 {font-size: 30px;}
	h2,._h2 {font-size: 25px;}
	h3,._h3 {font-size: 18px;}

	.onde-encontrar {
		.wow {
			animation-name: none !important;
			visibility: visible !important;
		}
	}
}

@include breakpoint(0, $xs) {
	.Button {
		&._tabela {
			display: none;
		}

		&:hover {
			background-image: none; 
		}
	}
}