
.icon-download:before { content: '\e800'; } /* '' */
.icon-right-1:before { content: '\e801'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-left-hand:before { content: '\e803'; } /* '' */
.icon-down:before { content: '\e804'; } /* '' */
.icon-left:before { content: '\e805'; } /* '' */
.icon-right:before { content: '\e806'; } /* '' */
.icon-up:before { content: '\e807'; } /* '' */
.icon-left-2:before { content: '\e808'; } /* '' */
.icon-share:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-delete:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-cancel-1:before { content: '\e80d'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-pinterest:before { content: '\f0d3'; } /* '' */
.icon-gplus:before { content: '\f0d4'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-youtube:before { content: '\f166'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-left-1:before { content: '\f177'; } /* '' */
.icon-mail:before { content: '\f199'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */